.about-me-section {
  background-color: #2C5C8F;
  color: white; /* Text color white */

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; 
    padding: 0 20px;

    .about-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .profile-image {
        width: 200px; 
        height: auto; 
        margin-bottom: 20px;
        border-radius: 15px;
      }

      .AboutTitle {
        font-size: 24px;
        margin-bottom: 20px;
        text-transform: none; 

        .text-content {
          max-width: 600px;
          margin: 0 auto; 
        }

        .AboutBlurb {
          font-size: 18px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      padding: 0;

      .about-content {
        flex-direction: row; 
        text-align: left;

        .profile-image {
          width: 300px;
          margin-right: 20px;
          margin-bottom: 0;
          border-radius: 15px;
        }
      }
    }
  }
}
