@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 400;
  text-align: center;
}

.experience {
  min-height: 60vh;
}

.experience .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.experience .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: #020133;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2;
}

.experience .desc h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e6e6e6; /* Change to your desired font color */
}


.experience .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e6e6e6; /* Change to your desired font color */
}

.experience .desc p {
  font-size: 1.2rem;
  color: #ffffff; /* Change to your desired font color */
}

.experience .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/*circles on timeline*/
.experience .container::after {
  content: "\f0b1";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #2C5C8F;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.89rem;
  text-align:center;
  font-weight: 600;
  color: #3d48ab;
  font-family: "Font Awesome\ 5 Free";
}

.experience .left {
  left: 0;
}

.experience .right {
  left: 50%;
}

/* arrows pointing right */
.experience .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #2C5C8F;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #2C5C8F;
}

/* arrows pointing left  */
.experience .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #2C5C8F;
  border-width: 10px 10px 10px 0;
  border-color: transparent #2C5C8F transparent transparent;
}

.experience .right::after {
  left: -16px;
}

.experience .content {
  background-color: #2C5C8F;
  position: relative;
  border-radius: 6px;
}

.experience .content .tag {
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  color: #e6e6e6;
}

.experience .content .desc {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.experience .content .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.experience .content .desc p {
  font-size: 1.2rem;
}



/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .experience {
    min-height: 80vh;
  }

  .experience .timeline {
    margin-top: 2rem;
  }

  .experience .timeline::after {
    left: 31px;
  }

  .experience .container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }

  .experience .container::after {
    font-size: 2.2rem;
  }

  .experience .container::before {
    left: 61px;
    border: medium solid #f68c09;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f68c09 transparent transparent;
  }

  .experience .left::after {
    left: 15px;
  }

  .experience .right::after {
    left: 15px;
  }

  .experience .right {
    left: 0%;
  }

  .morebtn {
    margin-top: 3rem;
  }
}

/* experience media queries ends */
/* experience section ends */